:root {
  --color-primary: #039BE5;
  --color-primary-light: #4FC3F7;
  --color-primary-very-light: #039ae511;
  --color-accent: #FFD600;
  --color-warn: #FF6D00;
  --color-warn-light: #FF6D0088;
  --color-warn-very-light: #FF6D0011;
  --color-red: #CB2B39;

  --color-gray-1: #101010;
  --color-gray-2: #202020;
  --color-gray-3: #303030;
  --color-gray-4: #404040;
  --color-gray-5: #505050;
  --color-gray-6: #606060;
  --color-gray-7: #707070;
  --color-gray-8: #808080;
  --color-gray-9: #909090;
  --color-gray-A: #A0A0A0;
  --color-gray-B: #B0B0B0;
  --color-gray-C: #C0C0C0;
  --color-gray-D: #D0D0D0;
  --color-gray-E: #E0E0E0;
  --color-gray-F: #F0F0F0;
}

// CSS Reset
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #EEEEEE;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

// ******************************************

h1 {
  font-size: 40px;
  padding: 0 0 20px 0;

  @media screen and (max-width: 599px) {
    padding: 0 0 21px 0;
  }
}

h2 {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 0 23px 0;

  @media screen and (max-width: 650px) {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 16px;
  }
}

h3 {
  font-size: 36px;
  padding: 0 0 20px 0;

  @media screen and (max-width: 599px) {
    font-size: 30px;
    padding: 0 0 21px 0;
  }
}

h4 {
  font-size: 24px;
  padding: 0 0 22px 0;
  line-height: 30px;

  @media screen and (max-width: 599px) {
    font-size: 20px;
    padding: 0 0 20px 0;
  }
}

p {
  margin: 0px;
  padding: 0px;
  line-height: 26px;
  padding: 0 0 20px 0;

  @media screen and (max-width: 599px) {
    padding-bottom: 18px;
  }
}

a {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-primary);

  &:visited,
  &:link {
    color: var(--color-primary);
  }

  &:hover {
    font-weight: bolder;
  }
}

.pipe {
  padding: 0 12px;
}

.page-banner {
  padding: 0 0 30px 0;

  @media screen and (max-width: 650px) {
    margin-left: -24px;
    margin-right: -24px;
    padding: 0 0 17px 0;
  }
}

.page-container-narrow {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 56px);
  padding: 25px 23px;

  @media screen and (max-width: 599px) {
    width: auto;
    padding: 14px 23px;
  }
}